<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2014 Google Inc. All Rights Reserved.
  Distributed under the Project Tango Preview Development Kit (PDK) Agreement.
  CONFIDENTIAL. AUTHORIZED USE ONLY. DO NOT REDISTRIBUTE.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.atap.tangohelperlib"
    android:versionCode="0"
    android:versionName="0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

</manifest>
